#tela {
    border: 10px solid #ccc;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;

    width: 600px;
    height: 500px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}